* {
  color : black;
  font-family: Garamond;
}

body {
  background-color: white;
  text-align: center;
}

.colorBlue {
  color: blue;
}

.bold {
  font-weight: bold;
}

.blue-bg {
  background : blue;
  border-style: outset;
}

.white {
  color : white;
}

p {
  font-size: 16px;
  font-family: Garamond;
  text-align: center;
  margin-right: 120px;
  margin-left: 120px;
}

li {
  font-family: Garamond;
  text-align: center;
}

img {
  border-width: 30px;
  border-color: black;
}

table.center {
  margin-left:auto;
  margin-right:auto;
}

table, th, td {
   border: 1px solid black;
}

th {
    height: 50px;
}

a[href$=".com"] {
  font-style: italic;
}

a[href$=".html"] {
  color: blue;
}

#borderoutset {
  border: 2px black solid;
  border-style: outset;
}

#table {
  background-color: light blue;
}

#bold {
  font-weight: bold;
}

button:hover {
  color: blue;
}

img {
    border-radius: 8px;
}
